<header>Login Page</header>

<form [formGroup]="loginForm" (submit)="onSubmit()">
  <input
  type = "text"
  [formControlName]="'email'"
  placeHolder="E-mail"
  >
  <span
  *ngIf="!loginForm.get('email').valid
  &&
  loginForm.get('email').touched"
  >Please enter your e-mail as required...</span>

  <input
  type = "password"
  [formControlName]="'password'"
  placeHolder="Password"

  ><span
  *ngIf="!loginForm.get('password').valid
  &&
  loginForm.get('password').touched"
  >Please enter your password as required...</span>

  <span
  *ngIf = "errorMessage"> {{errorMessage}} </span>
  <br>

  <input type="submit" value="Login">

</form>

<!-- <button (click) = "get()">GET</button> -->
